<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
    <nav>
      <a href="/add-promo-code">Add Promo Code</a>
      <a href="/promo-codes">View All Promo Codes</a>
    </nav>
  </header>
  <body>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
