<form method="POST" action="/api/promo/{{promoDoc._id}}">

  <label> Please enter your age:
    <input type="number" min=0 name="userAge" placeholder="44">
  </label>

  <br>

  <br>

  <button>Use Promo Code</button>
</form>